.DS_Store
*.impl
*.ipr
*.iws
*.log
*.target
target/
.idea/
.idea
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.ipr
*.iws
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
Reports
node_modules
bin
npm-debug.log
*-local.yaml
*-local.yaml-e
application/.scannerwork
.nyc_output
target

